@{
    ViewData["Title"] = "Home Page";
}
<style>
     body{
            background-image: url('../images/uni.jpg');
            background-repeat: no-repeat;
            background-size:cover;
            background-position:center;
            opacity:0.5;

    }
    body h1{
        text-align:center;
        color:black;
    }
</style>



<body>
<div class="flex-wrap">
    <div>
@*       <img src="~/Images/university.png" />
@*        <link rel="stylesheet" href="~/css/image.css" />
*@        
    <h1 class="display-4">Welcome</h1>
    
    </div>

</div>
</body>
